@tailwind base;
@tailwind components;
@tailwind utilities;

.writers-carousel .swiper-slide {
  height: auto !important;
}

.writers-carousel .swiper-button-next,
.writers-carousel .swiper-button-prev {
  color: #FF5252;
  transform: scale(0.7);
}

.writers-carousel .swiper-button-next:after,
.writers-carousel .swiper-button-prev:after {
  font-weight: bold;
}

.writer-card {
  transition: all 0.2s ease;
  height: 100%;
}

/* .writer-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
} */